@using SpringfieldRecMvc.Features
@model SpringfieldRecMvc.Features.Home.Register.Command

@{
    ViewBag.Title = "Get notified about upcoming events";
}

<h2>Get notified about upcoming events!</h2>
<p>Keep up to date with all of the exciting events happening at the Springfield Recreation Center! Let us notify you when classes you may be interested become available.</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationDiv()


    @Html.FormBlock(m => m.FirstName)
    @Html.FormBlock(m => m.LastName)
    @Html.FormBlock(m => m.EmailAddress)
    @Html.FormBlock(m => m.PhoneNumber)

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Sign me up!" class="btn btn-primary" />
        </div>
    </div>


}
